/Proj/Project 1/Stephens_Curtis_MidtermProject_Roulette_V5/build/
/Proj/Project 1/Stephens_Curtis_MidtermProject_Roulette_V5/dist/
/Hmwrk/Assignment_5/Gaddis_8thEd_Chap6_Prob19_UsingFilesHospital/build/
/Hmwrk/Assignment_5/Gaddis_8thEd_Chap6_Prob19_UsingFilesHospital/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap7_NumberAnalysis/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap7_NumberAnalysis/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob1_ChargeAccount/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob1_ChargeAccount/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob1_ChargeAccountReal/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob1_ChargeAccountReal/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap7_Prob2_RainfallStats/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap7_Prob2_RainfallStats/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob_RainfallStatsMod/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob_RainfallStatsMod/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_StringSelectionSort/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_StringSelectionSort/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob7_Binary/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob7_Binary/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob_6_StringSelectionSort/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob_6_StringSelectionSort/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob4_ChargeAccountMod/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob4_ChargeAccountMod/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob6_StringSelectionSort/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob6_StringSelectionSort/dist/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob5_RainfallStatsMod/build/
/Hmwrk/Assignment_6/Gaddis_8thEd_Chap8_Prob5_RainfallStatsMod/dist/
/Hmwrk/Assignment_6/Fresh_Start/build/
/Hmwrk/Assignment_6/Fresh_Start/dist/
/Proj/Project 2/Stephens_Curtis_FinalProject_Roulette_V2/build/
/Proj/Project 2/Stephens_Curtis_FinalProject_Roulette_V2/dist/
/Hmwrk/Assignment_6/Test/build/
/Hmwrk/Assignment_6/Test/dist/
/Hmwrk/Assignment_6/Testttt/build/
/Hmwrk/Assignment_6/Testttt/dist/
/Proj/Project 2/Stephens_Curtis_FinalProject_Roulette_V3/build/
/Proj/Project 2/Stephens_Curtis_FinalProject_Roulette_V3/dist/
/Proj/Project 2/Stephens_Curtis_FinalProject_Roulette_V4/build/
/Proj/Project 2/Stephens_Curtis_FinalProject_Roulette_V4/dist/
/Hmwrk/Assignment_6/Lab_9/build/
/Hmwrk/Assignment_6/Lab_9/dist/
/Labs/Lab_9/build/
/Labs/Lab_9/dist/